
body {
  font-family: 'Lato', sans-serif;
}



  section {
      margin-top: 112px;
      
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 25px; 
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0px 135px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 16px 32px;
      gap: 10px;
      width: 146px;
      height: 55px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 69px;
      color: #302B3A;
      padding-top: 120px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 625px;
      height: 46px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 171.14px;
      height: 55.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 32px;
      gap: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 530px;
  }
  .results-item h4 {
      font-size: 43px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -388px;
      z-index: 1;
      width: 58.57px;
      height: 60.98px;
      left: 600px;
  }
  .img2 {
      position: relative;
      left: 1033px;
      z-index: 1;
      top: -87px;
      width: 345.02px;
      height: 361.07px;
  }
  .img3 {
      position: relative;
      z-index:2;
      width: 240.71px;
      height: 344.22px;
      left: 790px;
      top: -90.56px;            
  }
  .img4 {
      position: relative;
      width: 345.02px;
      height: 361.07px;
      left: 100px;
      top: 194.8px;
  }
  .img5 {
      position: relative;
      width: 450px;
      height: 450px;
      left: -238px;
      top: 253.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: -74px;
      top: 194px;
  }


@media (max-width: 1725px) {
  section {
      margin-top: 112px;
      
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 25px;
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0px 100px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 16px 32px;
      gap: 10px;
      width: 146px;
      height: 55px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 69px;
      color: #302B3A;
      padding-top: 10px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 625px;
      height: 46px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 171.14px;
      height: 55.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 32px;
      gap: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 530px;
  }
  .results-item h4 {
      font-size: 43px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -388px;
      z-index: 1;
      width: 58.57px;
      height: 60.98px;
      left: 600px;
  }
  .img2 {
      position: relative;
      left: 792px;
      z-index: 1;
      top: -87px;
      width: 345.02px;
      height: 361.07px;
  }
  .img3 {
      position: relative;
      z-index:2;
      width: 240.71px;
      height: 344.22px;
      left: 540px;
      top: -90.56px;            
  }
  .img4 {
      position: relative;
      width: 345.02px;
      height: 361.07px;
      left: -53px;
      top: 194.8px;
  }
  .img5 {
      position: relative;
      width: 450px;
      height: 450px;
      left: 594px;
      top: -199.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: 686px;
      top: -259px;
  }
}
@media (max-width: 1420px) {
  section {
      margin-top: 112px;
      
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 25px;
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0px 0px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 16px 32px;
      gap: 10px;
      width: 146px;
      height: 55px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      color: #302B3A;
      padding-top: 10px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 625px;
      height: 46px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 171.14px;
      height: 55.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 32px;
      gap: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 464px;
      margin-top: 70px;
  }
  .results-item h4 {
      font-size: 43px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -388px;
      z-index: 1;
      width: 58.57px;
      height: 60.98px;
      left: 600px;
  }
  .img2 {
      position: relative;
      left: 692px;
      z-index: 1;
      top: -87px;
      width: 345.02px;
      height: 361.07px;
  }
  .img3 {
      position: relative;
      z-index:2;
      width: 240.71px;
      height: 344.22px;
      left: 450px;
      top: -90.56px;            
  }
  .img4 {
      position: relative;
      width: 345.02px;
      height: 361.07px;
      left: -53px;
      top: 194.8px;
  }
  .img5 {
      position: relative;
      width: 450px;
      height: 450px;
      left: 594px;
      top: -199.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: 588px;
      top: -259px;
  }
}
@media (max-width: 1200px) {
  section {
      margin-top: 112px;
      
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 25px;
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0px 0px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 16px 32px;
      gap: 10px;
      width: 146px;
      height: 55px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      color: #302B3A;
      padding-top: 10px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 625px;
      height: 46px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 171.14px;
      height: 55.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 32px;
      gap: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 416px;
      margin-top: 70px;
  }
  .results-item h4 {
      font-size: 34px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -388px;
      z-index: 1;
      width: 58.57px;
      height: 60.98px;
      left: 444px;
  }
  .img2 {
      position: relative;
      left: 592px;
      z-index: 1;
      top: -87px;
      width: 345.02px;
      height: 361.07px;
  }
  .img3 {
      position: relative;
      z-index:2;
      width: 240.71px;
      height: 344.22px;
      left: 350px;
      top: -90.56px;            
  }
  .img4 {
      position: relative;
      width: 345.02px;
      height: 361.07px;
      left: -210px;
      top: 194.8px;
  }
  .img5 {
      position: relative;
      width: 450px;
      height: 450px;
      left: 444px;
      top: -199.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: 488px;
      top: -259px;
  }
}
@media (max-width: 1024px) {
  section {
      margin-top: 112px;
      
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 25px;
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0px 0px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 16px 32px;
      gap: 10px;
      width: 146px;
      height: 55px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      color: #302B3A;
      padding-top: 10px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 625px;
      height: 46px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 171.14px;
      height: 55.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 32px;
      gap: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 416px;
      margin-top: 70px;
  }
  .results-item h4 {
      font-size: 34px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -326px;
      z-index: 1;
      width: 58.57px;
      height: 60.98px;
      left: 444px;
  }
  .img2 {
      position: relative;
      left: 537px;
      z-index: 1;
      top: -80px;
      width: 300px;
      height: 306px;
  }
  .img3 {
      position: relative;
      z-index:2;
      width: 181.71px;
      height: 264.22px;
      left: 353px;
      top: -104.56px;           
  }
  .img4 {
      position: relative;
      width: 300px;
      height: 306px;
      left: -107px;
      top: 194.8px;
  }
  .img5 {
      position: relative;
      width: 350px;
      height: 350px;
      left: 444px;
      top: -112.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: 488px;
      top: -157px;
  }
}
@media (max-width: 950px) {
  section {
      margin-top: 80px;
  }
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }
  ul li {
      font-size: 18px;
      font-weight: 600;
      padding: 0px 12px;
  }
  .active {
      color: #9A93FF;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .hamburger-menu {
      display: none;
  }
  .container {
      max-width: 750px;
      margin: 0 auto;
      padding: 0px 0px;
      position: relative;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .header-button {
      padding: 1px 8px;
      gap: 10px;
      width: 122px;
      height: 43px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
  }
  h1 {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 700;
      font-size: 39px;
      color: #302B3A;
      padding-top: 0px;
      margin: 0;
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 370px;
      height: 46px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 131.14px;
      height: 51.4px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      color: #FFFFFF;
      padding: 16px 8px;
      gap: 10px;
      font-weight: 600;
      font-size: 17px;
      line-height: 23px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 55px;
      height: 55px;
      background: none;
      
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      height: 51.4px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .polygon {
      position: relative;
      right: 30px
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 343px;
      margin-top: 70px;
  }
  .results-item h4 {
      font-size: 30px;
      font-weight: 650;
      color: #302B3A;
      margin:0;
  }
  .results-item p {
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      color: #686868;
      font-size: 18px;
  }
  .images1 {
      position: absolute;
      top: 200px;
  }
  .img1 {
      position: relative;
      top: -278px;
      z-index: 1;
      width: 49.57px;
      height: 51.98px;
      left: 360px;
  }
  .img2 {
      position: relative;
      left: 488px;
      z-index: 1;
      top: -119px;
      width: 210px;
      height: 212px;
  }
  .img3 {
      position: relative;
      z-index: 2;
      width: 108.71px;
      height: 176.22px;
      left: 344px;
      top: -138.56px;
  }
  .img4 {
      position: relative;
      width: 210px;
      height: 212px;
      left: -18px;
      top: 83.8px;
  }
  .img5 {
      position: relative;
      width: 250px;
      height: 250px;
      left: 366px;
      top: -138.48px;
  }
  .img6 {
      position: relative;
      right: 0;
      z-index: 2;
      width: 58.57px;
      height: 60.98px;
      left: 440px;
      top: -168px;
  }
}
@media (max-width: 768px) {
  section {
      margin-top: 30px;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  ul {
      display: none;
  }
  .header-button {
      display: none;
  }
  header img {
      width: 50px;
      height: 50px;
  }
  .hamburger-menu {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  #menu__toggle {
      opacity:0;
  }
  .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 13px;
      right: 2px;
      width: 46px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #ADA7FF;
      transition-duration: 0.25s;
  }
  .menu__btn > span::before {
      content: '';
      top: -16px;
  }
  .menu__btn > span::after {
      content: '';
      top: 16px;
  }
  .menu__box {
      display: block;
      position:fixed;
      visibility: hidden;
      top:0;
      left:-100%;
      height:100%;
      width:100%;
      margin:0;
      padding:80px 0px;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0 , 0, 0.2);
      transition-duration: 0.25s;
  }
  .menu_item {
      display: block;
      padding:12px 24px;
      color:#333;
      font-size:20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration:0.25s;
  }
  .menu_item:hover {
      background-color: #CFD8DC;
  }
  h1 {
      font-size: 58px;
      color: #302B3A;
      font-family: 'Dosis';
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 562px;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 200px;
      height: 33.48px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 15px;
      color: #FFFFFF;
      width: 138.54px;
      display: inline;
      height: 48.48px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 50px;
      height: 50px;
      background: none;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 60px;
  }
  .results-item h4 {
      width: 78px;
      height: 38px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 650;
      font-size: 50px;
      margin:0;
  }
  .results-item p {
      width: 78px;
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;
      margin: 0px;
      color: #686868;
      padding-top: 28px;
  }
  .images1 {
      position: relative;
  }
  .img1 {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 35.36px;
      height: 36.81px;
      top: -181px;
      left: 162px;
  }
  .img2 {
      position: absolute;
      left: 392px;
      z-index: 1;
      top: -180px;
      position: absolute;
      width: 208.27px;
      height: 217.96px;
  }
  .img3 {
      position: absolute;
      left: 445px;
      top: -168px;
      z-index: 2;
      width: 145.31px;
      height: 207.79px;
  }
  .img4 {
      position: absolute;
      width: 208.27px;
      height: 217.96px;
      top: 5px;
      left: 161px;
  }
  .img5 {
      position: absolute;
      top: -2px;
      width: 260px;
      height: 260px;
      left: 163px;
  }
  .img6 {
      position: absolute;
      left: 566px;
      z-index: 2;
      top: 00px;
      width: 35.36px;
      top: 185px;
      height: 36.81px;
  }
  .polygon {
      position: relative;
      right: 27.5px
  }
  .lap {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap1 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap2 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap3 {
      position: relative;
      left: 30px;
      top: -13px;
  }
}






@media (max-width: 620px) {
  section {
      margin-top: 30px;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  ul {
      display: none;
  }
  .header-button {
      display: none;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .hamburger-menu {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  #menu__toggle {
      opacity:0;
  }
  .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 13px;
      right: 2px;
      width: 40px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #ADA7FF;
      transition-duration: 0.25s;
  }
  .menu__btn > span::before {
      content: '';
      top: -12px;
  }
  .menu__btn > span::after {
      content: '';
      top: 12px;
  }
  .menu__box {
      display: block;
      position:fixed;
      visibility: hidden;
      top:0;
      left:-100%;
      height:100%;
      width:100%;
      margin:0;
      padding:80px 0px;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0 , 0, 0.2);
      transition-duration: 0.25s;
  }
  .menu_item {
      display: block;
      padding:12px 24px;
      color:#333;
      font-size:20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration:0.25s;
  }
  .menu_item:hover {
      background-color: #CFD8DC;
  }
  h1 {
      font-size: 58px;
      color: #302B3A;
      font-family: 'Dosis';
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 562px;
      font-size: 18px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 200px;
      height: 33.48px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 15px;
      color: #FFFFFF;
      width: 138.54px;
      display: inline;
      height: 48.48px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 50px;
      height: 50px;
      background: none;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 60px;
  }
  .results-item h4 {
      width: 78px;
      height: 38px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 650;
      font-size: 50px;
      margin:0;
  }
  .results-item p {
      width: 78px;
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;
      margin: 0px;
      color: #686868;
      padding-top: 28px;
  }
  .images1 {
      position: relative;
  }
  .img1 {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 35.36px;
      height: 36.81px;
      top: -181px;
      left: 0px;
  }
  .img2 {
      position: absolute;
      left: 250px;
      z-index: 1;
      top: -180px;
      position: absolute;
      width: 208.27px;
      height: 217.96px;
  }
  .img3 {
      position: absolute;
      left: 318px;
      top: -168px;
      z-index: 2;
      width: 145.31px;
      height: 207.79px;
  }
  .img4 {
      position: absolute;
      width: 208.27px;
      height: 217.96px;
      top: 5px;
      left: 0px;
  }
  .img5 {
      position: absolute;
      top: -2px;
      width: 260px;
      height: 260px;
      left: 2px;
  }
  .img6 {
      position: absolute;
      left: 424px;
      z-index: 2;
      top: 00px;
      width: 35.36px;
      top: 185px;
      height: 36.81px;
  }
  .polygon {
      position: relative;
      right: 27.5px
  }
  .lap {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap1 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap2 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap3 {
      position: relative;
      left: 30px;
      top: -13px;
  }
}


@media (max-width: 480px) {
  section {
      margin-top: 30px;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  ul {
      display: none;
  }
  .header-button {
      display: none;
  }
  header img {
      width: 56px;
      height: 50px;
  }
  .hamburger-menu {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  #menu__toggle {
      opacity:0;
  }
  .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 13px;
      right: 2px;
      width: 40px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #ADA7FF;
      transition-duration: 0.25s;
  }
  .menu__btn > span::before {
      content: '';
      top: -12px;
  }
  .menu__btn > span::after {
      content: '';
      top: 12px;
  }
  .menu__box {
      display: block;
      position:fixed;
      visibility: hidden;
      top:0;
      left:-100%;
      height:100%;
      width:100%;
      margin:0;
      padding:80px 0px;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0 , 0, 0.2);
      transition-duration: 0.25s;
  }
  .menu_item {
      display: block;
      padding:12px 24px;
      color:#333;
      font-size:20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration:0.25s;
  }
  .menu_item:hover {
      background-color: #CFD8DC;
  }
  h1 {
      font-size: 32px;
      color: #302B3A;
      font-family: 'Dosis';
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 339px;
      font-size: 16px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 200px;
      height: 33.48px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 15px;
      color: #FFFFFF;
      width: 119.54px;
      display: inline;
      height: 48.48px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 50px;
      height: 50px;
      background: none;
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      height: 51.4px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .results {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 60px;
  }
  .results-item h4 {
      width: 78px;
      height: 12px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 650;
      font-size: 34px;
      margin:0;
  }
  .results-item p {
      width: 78px;
      height: 15px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      margin: 0px;
      color: #686868;
      padding-top: 28px;
  }
  .images1 {
      position: relative;
  }
  .img1 {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 35.36px;
      height: 36.81px;
      top: -181px;
      left: 0px;
  }
  .img2 {
      position: absolute;
      left: 105px;
      z-index: 1;
      top: -180px;
      position: absolute;
      width: 208.27px;
      height: 217.96px;
  }
  .img3 {
      position: absolute;
      left: 180px;
      top: -168px;
      z-index: 2;
      width: 145.31px;
      height: 207.79px;
  }
  .img4 {
      position: absolute;
      width: 208.27px;
      height: 217.96px;
      top: 5px;
      left: 0px;
  }
  .img5 {
      position: absolute;
      top: -2px;
      width: 260px;
      height: 260px;
      left: 2px;
  }
  .img6 {
      position: absolute;
      left: 279px;
      z-index: 2;
      top: 00px;
      width: 35.36px;
      top: 185px;
      height: 36.81px;
  }
  .polygon {
      position: relative;
      right: 27.5px
  }
  .lap {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap1 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap2 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap3 {
      position: relative;
      left: 30px;
      top: -13px;
  }
}


@media (max-width: 340px) {
  section {
      margin-top: 30px;
  }
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  ul {
      display: none;
  }
  .header-button {
      display: none;
  }
  header img {
      width: 45px;
      height: 40px;
  }
  .hamburger-menu {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  #menu__toggle {
      opacity:0;
  }
  .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 13px;
      right: 2px;
      width: 31px;
      height: 20px;
      cursor: pointer;
      z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ADA7FF;
      transition-duration: 0.25s;
  }
  .menu__btn > span::before {
      content: '';
      top: -12px;
  }
  .menu__btn > span::after {
      content: '';
      top: 12px;
  }
  .menu__box {
      display: block;
      position:fixed;
      visibility: hidden;
      top:0;
      left:-100%;
      height:100%;
      width:100%;
      margin:0;
      padding:80px 0px;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0 , 0, 0.2);
      transition-duration: 0.25s;
  }
  .menu_item {
      display: block;
      padding:12px 24px;
      color:#333;
      font-size:20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration:0.25s;
  }
  .menu_item:hover {
      background-color: #CFD8DC;
  }
  h1 {
      font-size: 29px;
      color: #302B3A;
      font-family: 'Dosis';
  }
  .good {
      color: #ADA7FF;
  }
  p {
      max-width: 249px;
      font-size: 15px;
      padding-bottom: 30px;
  }
  .adopt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 8px;
      gap: 10px;
      width: 200px;
      height: 33.48px;
      background: #ADA7FF;
      border-radius: 999px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 15px;
      color: #FFFFFF;
      width: 109.54px;
      display: inline;
      height: 44.48px;
  }
  .button_group {
      display: flex;
      flex-direction: row;
      margin-top: 36px;
      margin-bottom: 36px;
  }
  .play {
      width: 50px;
      height: 50px;
      background: none;
  }
  .play_button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      height: 46px;
  }
  .play_button span {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 15px;
      color: #ADA7FF;
      padding-left: 10px;
  }
  .results {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      align-items: center;
  }
  .results-item h4 {
      width: 78px;
      height: 12px;

      font-family: 'Dosis';
      font-style: normal;
      font-weight: 650;
      font-size: 50px;
      margin:0;
  }
  .results-item p {
      width: 136px;
      height: 19px;
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 56px;
      margin: 0px;
      color: #686868;
      padding-top: 28px;
  }
  .images1 {
      position: relative;
  }
  .img1 {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 35.36px;
      height: 36.81px;
      top: -181px;
      left: 0px;
  }
  .img2 {
      position: absolute;
      left: 105px;
      z-index: 1;
      top: -180px;
      position: absolute;
      width: 179.27px;
      height: 184.96px;
  }
  .img3 {
      position: absolute;
      left: 161px;
      top: -168px;
      z-index: 2;
      width: 127.31px;
      height: 184.79px;
  }
  .img4 {
      position: absolute;
      width: 179.27px;
      height: 184.96px;
      top: 5px;
      left: 0px;
  }
  .img5 {
      position: absolute;
      top: 10px;
      width: 210px;
      height: 210px;
      left: 2px;
  }
  .img6 {
      position: absolute;
      left: 250px;
      z-index: 2;
      top: 00px;
      width: 35.36px;
      top: 154px;
      height: 36.81px;
  }
  .polygon {
      position: relative;
      right: 27.5px
  }
  .lap {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap1 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap2 {
      position: relative;
      left: 60px;
      top: -13px;
  }
  .lap3 {
      position: relative;
      left: 30px;
      top: -13px;
  }
}