* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("../assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 85px;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}
.logo h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.menu li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.main-content {
  display: grid;
  grid-template-areas: '1fr 5f';
  flex-direction: row;
  margin-top: 100px;
}
.scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 130px;
}
.scroll p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-right: 10px;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}
.search img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
hr {
  width: 72px;
  height: 2px;
  color: #FFC178;
  margin-right: 20px;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  /* identical to box height */
  letter-spacing: 6px;
  text-transform: uppercase;

  color: #FFC178;
}
h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 96px;
  line-height: 100px;

  /* or 104% */
  text-transform: capitalize;

  /* WeiÃŸ */
  color: #FFFFFF;
}
.networks p {
  transform: rotate(90deg);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 74px;
  color: #FFFFFF;
  width: 24px;
}
.networks {
  display: flex;
  flex-direction: column;
}
.networks img {
  width: 20px;
}
.networks img {
  padding: 5px 0px;
}
.all-margin {
  width: 1460px;
  margin: 0 auto;
}
.facebook {
  width: 14px;
  height: 25px;
}
.east-left {
  background: url("../assets/img/leftpic.png");
  width: 598px;
  height: 720px;
  position: relative;
  top: -100px;
}
.west-left {
  background: url("../assets/img/01.png");
  width: 598px;
  height: 720px;
  position: relative;
  top: -100px;
  background-repeat: no-repeat;
}
.benefit {
  background-color: black;
  margin-top: 450px;
}
.black {
  background-color: black;
}
.benefit .east {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.east-main h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;

  color: #FFFFFF;
}
.east-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;

  /* or 178% */
}
.benefit2 .east {
  display: grid;
  grid-template-columns:1fr 1fr ;
}
footer {
  margin-top: 100px;
}
.footer-start h3 {
  color: #FFFFFF;
}
.footer-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-hr {
  width: 100%;
  color: #7e7e7e;
}
.footer-logo h3 {
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: capitalize;

  /* WeiÃŸ */
  color: #FFFFFF;
}
.footer-ready {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-ready button {
  width: 240px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  font-family: 'Open Sans';
}
.footer-ready p {
  margin-right: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.slider-content {
  height: 985px;
  background: url("../assets/img/sliderbg.png");
  margin: 150px 0px 300px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 550px;
}
.arrow-left {
  position: absolute;
  top: 50%;
  left: 60px;
}
.arrow-right {
  position: absolute;
  top: 50%;
  right: 60px;
}
.slider-title h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.slider-content h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  color: #FFFFFF;
  padding-top: 10px;
}
.slider-content h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;

  /* or 178% */
  text-align: center;

  color: #FFFFFF;
  width: 934px;
  height: 96px;
  text-align: center;
  padding-top: 27px;
}
.read {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  padding-top: 50px;
}
.read img {
  padding-left: 10px;
}
.footer-main {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding-top: 55px;
}
.input {
  padding-top: 50px;
}
input {
  width: 330px;
  height: 70px;
  padding-left: 20px;
  background: none;
  border: solid 1px #7e7e7e;
  color:#7e7e7e;

}
.input button {  
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
  width: 70px;
  border: none;
  height: 70px;
}
.footer-left h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.footer-right {
  display: flex;
  flex-direction: row;
  color: azure;
  justify-content: space-evenly;
}
.footer-menu {
  list-style: none;
}
.active {
  color: #FFD1A0;
}
.footer-menu {
  color: #FFFFFF;
  font-family: 'Open Sans';
}
.footer-menu li {
  padding: 10px;
}
.terms {
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans';
}
.terms-text {
  display: flex;
}
.terms-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;    
}
.policy {
  padding-left: 50px;
}
.terms-logo img {
  padding: 0px 18px;
}
.copyright {
  padding-top: 160px;
  padding-bottom: 120px;
}
.copyright p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}