/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  background: url("../assets/images/background-page-landing.png");
  font-family: 'Poppins';
  background-size: cover;
  height: 100%;
}
.index {
  margin-left: 172px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 172px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;   
  color: #FFFFFF;
  padding-top: 69px;
  padding-bottom: 69px;
  background: url("../assets/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.header-menu li {
  padding: 0px 58px;
}
footer {
  margin-bottom: 40px;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #FFFFFF;
  position: absolute;
  bottom: 50px;
}
.footer-menu li {
  padding: 0px 80px;
}
h1 {
  font-size: 110px;
  line-height: 165px;
  color: #FFFFFF;
}
p {
  font-size: 34px;
  line-height: 51px;
  color: #FFFFFF;
}
button {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  width: 265px;
  height: 81px;
  background: #5E659D;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.feature {
  display: none;
  margin-left: 172px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 172px;
  display: none;
}
.sign {
  margin-left: 172px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 172px;
  display: none;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
form {
  background: #5E659D;
  border-radius: 20px;
  width: 787px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.inputik {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}
input {
  width: 500px;
  height: 66px;
  background: #FFFFFF;
  border: 4px solid #DBAC74;
  border-radius: 20px;
}