/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto';
  overflow-x: hidden;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.all-margin {
  max-width: 1200px;
  width: 100%;
}
header {
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 850px;
}
.quick {
  display: flex;
  flex-direction: row;
}
.quick img {
  margin: 0px 32px;
  width: 47px;
  height: 47px;
  background-color: #ffffff;
  border-radius: 50%;
}
.quick hr {
  color: #ffffff;
}
.drop {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.drop hr {
  margin: 3px 0px;
  border: 1.5px #ffffff solid;
}
.hr-wide {
  color: #ffffff;
  height: 1px;
  width: 37px;
}
.hr-narrow {
  color: #ffffff;
  height: 1px;
  width: 30px;
}
.header-beats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  height: 580px;
}
.header-beats-left {
  background: url("../assets/images/hero.png");
}
.header-beats-right h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-beats-right h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 99.1702px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 517px;
}
.header-prices {
  display: flex;
  flex-direction: row;
}
.header-prices p {
  color: #FFFFFF;
}
.firstprice {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}
.secondprice {
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  text-decoration-line: line-through;
  color: #FFFFFF;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.header-beats-right button {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  width: 99px;
  height: 31px;
  color: #FF4948;
  width: 191px;
  height: 61px;
  background: #FFFFFF;
  border-radius: 62px;
  border: none;
  margin-top: 35px;
}
.header-prices p {
  padding: 0px 35px;
}
.header-prices hr {
  color: #FFFFFF;
}
.header-prices {
  padding-top: 20px;
}
.headphones-slider h3 {
  font-size: 44px;
  font-weight: 700;
  color: #180202;
  text-align: center;
}
.headphones-slider {
  margin-top: 100px;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main {
  margin: 0 auto;
}
.left-arrow {
  width: 15px;
  height: 30px;
}
.right-arrow {
  width: 15px;
  height: 30px;
}
.slider-photos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-staw {
  width: 324px;
  height: 302px;
}
.slider-active {
  width: 453px;
  height: 423px;
}
.stats-right {
  background: url("../assets/images/feature.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.headphones-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stats-left h3 {
  font-size: 44px;
  color: #180202;
  width: 460px;
}
.item-stats {
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
}
.item-stats-text {
  margin-left: 10px;
}
.item-stats-text h5 {
  font-size: 31px;
  font-weight: 500;
  color: #180202;
}
.item-stats-text p {
  font-size: 16px;
  color: #180202;
  opacity: 0.7;
  font-weight: 400;
}
.item-stats-text button {
  color: #FF4948;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  border: none;
  background: none;
}
.all-stats {
  margin-top: 40px;
}
.headphones-latest {
  margin-top: 100px;
}
.headphones-latest h3 {
  font-size: 44px;
  color: #180202;
  width: 460px;
}
.headphones-latest p {
  width: 557px;
  text-align: center;
  opacity: 0.7;
  margin-top: 10px;
}
.headphones-latest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headphones-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 100px;
}
.item-headphones {
  width: 326px;
  position: relative;
}
.item-headphones-bg1 {
  background: #FFE5EE;
  width: 332px;
  height: 331px;
}
.item-headphones-bg2 {
  background: #E5F1FF;
  width: 332px;
  height: 331px;
}
.item-headphones-bg3 {
  background: #E5FFFB;
  width: 332px;
  height: 331px;
}
.item-headphones-main-img {
  width: 255px;
  height: 358px;
  margin-top: -60px;
  margin-left: 20px;
}
.headphones-stars-desc p {
  width: auto;
}
.headphones-stars {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headphones-latest p {
  width: auto;
  font-size: 16px;
  color: #180202;
}
.headphones-stars-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.headphones-stars-desc p {
  font-size: 22px;
  color: #180202;
  font-weight: 400;
}
.headphones-stars-five img {
  padding: 0px 5px;
}
.headphones-stars-desc h6 {
  font-size: 22px;
  font-weight: 500;
}
.headphones-cart {
  position: absolute;
  right: 0px;
  border-radius: 50%;
  background-color: #DE5150;
  padding: 10px;
}
.headphones-box-right-menu li  {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-bottom: 1px solid #f0eded;
}
.headphones-box {
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-top: 30px;
  height: 600px;
}
.headphones-box-left {
  background: url("../assets/images/boxing.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.headphones-box-right h3 {
  font-size: 44px;
  color: #180202;
  width: 460px;
  width: 390px;
  margin-bottom: 30px;
}
.headphones-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headphones-box-right-menu li img {
  padding: 0px 20px;
}
.headphones-box-right-menu li p {
  opacity: 0.7;
}
.headphones-box-right-menu {
  width: 292px;
}
.subscribe-form {
  width: 712px;
  height: 292px;
  background-color: #FFF4F4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headphones-subscribe {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.subscribe-form h3 {
  font-size: 44px;
  color: #180202;
  width: 460px;
  text-align: center;
  margin-bottom: 10px;
}
.subscribe-input {
  margin-top: 30px;
  width: 500px;
  height: 61px;
  display: flex;
  align-items: center;
}
.subscribe-input input {
  width: 320px;
  background-color: #FFFFFF;
  height: 61px;
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 0px 30px 0px 30px;
}
.subscribe-input button {
  width: 170px;
  height: 61px;
}
.subscribe-form button {
  background-color: #FF4948;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 22px;
  margin-left: -30px;
}
.footer-menu {
  height: 190px;
  background-color: #E86564;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer {
  background-color: #E86564;
  display: flex;
  justify-content: center;
}
.footer-networks img {
  background: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 20px;
}
.footer-menu p {
  font-size: 22px;
  color: #ffffff;
  padding: 0px 20px;
}
.footer-menu2 {
  display: flex;
  flex-direction: row;
}


.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  position: relative;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menubut {
  position: absolute;
  right: 0;
  transform: translateX(200%);
  transition: transform 0.2s;
  z-index: 99;
  background: rgb(168, 56, 56);
  color: white;
  list-style: none;
  padding-top: 8rem;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu {
  overflow: hidden;
}
.showMenu {
  transform: translateX(0);
  overflow: hidden;
}






.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
}

.slider img {
  width: 74%;
  height: 74%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.quick img {
  width: 20px;
  height: 20px;
  
}

.bi {
  color:gold;
}


@media (max-width: 768px) {
  .container {
      max-width: 390px;
      overflow: hidden;
  }
  .quick {
      display: none;
  }
  .menu {
      padding: 0px 15px;
  }
  .header-beats {
      grid-template-columns: 1fr;
  }
  .header-beats-left {
      height: 300px;
      background-size: 65%;
      background-repeat: no-repeat;
  }
  .header-beats-right {
      padding: 0px 25px;
  }
  .header-beats-right h5 {
      font-size: 22px;
  }
  .header-beats-right h1 {
      font-size: 36px;
      width: 331px;
  }
  .header-prices {
      display: flex;
      justify-content: space-between;
      width: 260px;
  }
  .header-prices p {
      padding: 0;
  }
  .header-beats-right button {
      width: 100%;
  }
  .slider-staw {
      display: none;
  }
  .slider-active {
      width: 266px;
      height: 249px;
  }
  .slider {
      padding: 0px 25px;
      margin-bottom: 100px;
      max-width: 390px;
      display: flex;
      justify-content: center;
  }
  .headphones-slider {
      margin-top: 30px;
  }
  .headphones-stats {
      padding: 0px 25px;
      grid-template-columns: 1fr;
      max-width: 390px;
  }
  .stats-left h3 {
      font-size: 31px;
      color: #180202;
      font-weight: 500;
  }
  .stats-right {
      height: 300px;
      background-size: 60%;
  }
  .headphones-slider h3 {
      max-width: 370px;
      font-size: 31px;
      margin-bottom: 40px;
  }
  .stats-left h3 {
      max-width: 340px;
  }
  .headphones-latest h3 {
      max-width: 370px;
      font-size: 31px;
      color: #180202;
      margin-top: -60px;
      text-align: center;
  }
  .headphones-latest p {
      font-size: 16px;
      font-weight: 400;
      max-width: 347px;
      line-height: 24px;
  }
  .headphones-latest {
      max-width: 390px;
      max-height: 700px;
  }
  .headphones-items {
      max-width: 390px;
      display: flex;
      justify-content: center;
  }
  .st1, .st3 {
      display: none;
  }
  .headphones-box {
      grid-template-columns: 1fr;
      max-width: 390px;
      padding: 0px 25px;
  }
  .headphones-box-left {
      height: 268px;
      background-size: 70%;
      display: flex;
      justify-content: center;
  }
  .subscribe-form {
      margin-top: 100px;
      max-width: 390px;
      padding: 0px 25px;
      display: flex;
      justify-content: center;
      height: 377px;
      align-items: center;
      margin: 100px auto;
  }
  .subscribe-form h3 {
      max-width: 380px;
  }
  .subscribe-input {
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      max-width: 350px;
  }
  .subscribe-input input {
      height: 61px;
      padding: 20px 20px;
      border-radius: 30px;
      margin-bottom: 20px;
  }
  .subscribe-input button {
      padding: 20px 0px;
  }
  .footer-menu2 {
      display: none;
  }
  .footer-menu {
      padding: 0px 25px;
  }
  .headphones-box-right h3 {
      max-width: 350px;
  }
  .next-button {
      right: 219px;
      position: absolute;
  }
  .next-button, .prev-button {
      top: 40%;
  }
  .slider-container {
      height: 300px;
  }
  .headphones-subscribe {
      max-width: 390px;
  }
}
